@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000;
  --highlight: #ffffff;
  --text-light: #52525b;
  --accent: #00b6cc;
  --primary: #1f1f1f;
  --secondary: #ededed;
  --border: rgba(0, 0, 0, 0.08);
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --highlight: #000000;
  --text-light: #a1a1aa;
  --primary: #ededed;
  --secondary: #1f1f1f;
  --border: rgba(255, 255, 255, 0.14);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-highlight: var(--highlight);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-oswald), 'sans-serif';
  --color-main-border: var(--border);
}

body {
  font-family: var(--font-sans);
  background: var(--background);
  color: var(--text-light);
  font-weight: 300;
}

header,
footer {
  background: var(--background);
}

br {
  @apply hidden sm:block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-foreground uppercase;
}

h1 {
  @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-medium md:leading-14 text-center;
}

h2 {
  @apply text-lg md:text-2xl lg:text-3xl;
}

h3 {
  @apply text-base md:text-xl lg:text-2xl;
}

p {
  @apply text-sm md:text-base lg:text-lg leading-8;
}

.padding-x {
  @apply px-4;
}

.padding-y {
  @apply py-5 md:py-10;
}

.block-container {
  @apply max-w-7xl xl:mx-auto;
}

.block-border {
  @apply border border-b-0 border-black/8 dark:border-white/14;
}

.link {
  @apply hover:text-foreground transition;
}

.active-link {
  @apply text-foreground;
}

.button {
  @apply h-8 md:h-10 rounded-xl px-4 md:px-6 cursor-pointer md:hover:scale-105 transition-all flex items-center justify-center gap-2;
}

.button-primary {
  @apply bg-primary text-highlight;
}

.button-secondary {
  @apply bg-secondary text-foreground border border-main-border;
}
